.block-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
}
.block-header-befor{
    margin-top: 50px;
}
.block-container span{
    font-size: 15px;
    color: #717e89;
    margin-top: 10px;
}
.block-header{
    margin-left:-25px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    margin-bottom: 20px;
}
.block-item-title{
    height: 30px;
    min-width: 300px;
}
.block-item-constent{
    height: 30px;
    flex-grow: 1;
    text-align: left;
}
.block-header-row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(223, 227, 235);
}
.block-header-title{
    margin-left: 15px;
    font-size: 22px;
    color: rgb(181, 199, 235);
}
